<div class="footer-content">
        <p>&copy; <span id="curyear"></span> Obesitycalculators Website. 
            All rights reserved. 
            If there are any errors or improvements needed for the calculators, 
            please visit <a href="contact">Contact page</a> to provide your feedback.</p>
</div>

